@use "./utils" as utils;

.choose {
  @include utils.body;
  margin-top: 5rem;
  @include utils.flexer(column);
  > h2 {
    color: utils.$color2;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  > h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: utils.$color6;
  }
  > .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 6rem;
    gap: 2rem;
    > .card {
      @include utils.flexer(column);
      text-align: center;
      color: utils.$color2;
      gap: 1rem;
      padding: 3rem 2rem;
      > .icon {
        font-size: 3rem;
      }
      > h4 {
        font-size: 1.5rem;
        font-weight: 600;
      }
      > p {
        color: utils.$color3;
      }
    }
  }
}
