@use "./utils" as utils;

.faq {
  @include utils.body;
  border: 2px solid red;
  .faqMain {
    border: 2px solid black;
    // padding: 3rem 0;
    // @include utils.body2;
    border: 2px solid black;
    
    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }

    .content {

      width: 40rem;
      margin: 0 auto;
      justify-content: center;
      align-items: center;

      @media screen and (max-width:500px) {
        width: 90%;
      }

      .accordian {
        margin: 1rem 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
    }
  }
}