@import "./utils";

.header {
  width: 100vw;
  height: fit-content;
  font-family: $font1;
  .nav {
    width: 75rem;
    margin: 0 auto;
    padding: 1rem;
    @include flexer(row, space-between);
    .logo {
      font-weight: 800;
      color: $color1;
      font-size: 1.5rem;
    }
    .links {
      width: 40%;
      a {
        all: unset;
        font-size: 1.3rem;
        color: $color1;
        font-weight: 500;
        padding: 1rem;
        text-align: center;
        margin: 0 5px;
        transition: all ease-in-out .2s;
        border-radius: 7px;
        cursor: pointer;
        &:nth-child(1){
          font-weight: 700;
        }
        &:hover {
          background-color: $color5;
        }
        &:visited {
          font-weight: 600;
        }
      }
    }
    .btn {
      all: unset;
      color: $color1;
      border: 1px solid $color1;
      border-radius: 6px;
      padding: 10px 2.5rem;
      font-weight: 600;
    }
  }
}
