@import "./utils";

.home {
  width: 75rem;
  margin: 0 auto;
  @include flexer();
  height: fit-content;
  padding: 7rem 0;
  .left {
    @include flexer(column, center, flex-start);
    gap: 2rem;
    padding: 0 1.5rem;
    h1 {
      font-family: $font1;
      color: $color1;
      font-size: 3.5rem;
    }
    p {
      font-family: $font1;
      width: 31rem;
      color: $color3;
    }
    button {
      all: unset;
      font-family: $font1;
      color: $color4;
      background-color: $color1;
      padding: 0.8rem 4rem;
      border-radius: 7px;
    }
  }
  .right {
    img {
      width: 35rem;
      height: 40rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .home {
    height: fit-content;
    width: fit-content;
    @include flexer(column);
    padding: 5rem 0;

    .left {
      text-align: center;
      gap: 0;
      padding: 0rem;

      h1 {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        font-size: .5rem;
        padding: 0 .5rem;
      }

      button {
        justify-content: center;
        align-items: center;
      }
    }

    .right{
      img {
        width: 15rem;
        height: 20rem;
      }
    }
  }
}
